# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [3]:
np.zeros(10, dtype='int')

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

3. Create a vector with values ranging from 10 to 49

In [4]:
arr = np.arange(10,50)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [5]:
np.shape(arr)

(40,)

5. Print the type of the previous array in question 3

In [6]:
print("Type: " , type(arr))

Type:  <class 'numpy.ndarray'>

6. Print the numpy version and the configuration

In [7]:
print('Version: ', np.__version__)

Version:  1.15.1

7. Print the dimension of the array in question 3

In [8]:
np.ndim(arr)

1

8. Create a boolean array with all the True values

In [9]:
np.repeat(True, 16).reshape(4,4)

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

9. Create a two dimensional array

In [10]:
d_2 = np.ones((2,3),dtype='int')
np.ndim(d_2)

2

10. Create a three dimensional array

In [11]:
d_3 = np.ones((2,2,3))
np.ndim(d_3)

3

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [12]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.flip(arr)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
arr = np.zeros(10, dtype='int')
arr[4]=1
arr

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [15]:
np.eye(3,3, dtype='int')

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [16]:
arr = np.array([1, 2, 3, 4, 5])
arr.astype(float)

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [17]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])

arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [18]:
arr1 = np.array([[1., 2., 3.],
                [4., 5., 6.]]) 
                    
arr2 = np.array([[0., 4., 1.], 
                [7., 2., 12.]])

# To compare are these arrays equal
new_arr = np.equal(arr1,arr2)
new_arr

array([[False, False, False],
       [False, False, False]])

In [19]:
# To compare if arr1 is greater than arr2
new_arr = np.greater(arr1,arr2)
new_arr

array([[ True, False,  True],
       [False,  True, False]])

In [20]:
# To compare if arr1 is greater than arr2
new_arr = np.less(arr1,arr2)
new_arr

array([[False,  True, False],
       [ True, False,  True]])

17. Extract all odd numbers from arr with values(0-9)

In [21]:
arr = np.arange(10)
ext_ele = arr[arr%2 != 0]
ext_ele

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [22]:
arr[arr%2 != 0] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [23]:
arr = np.arange(10)
arr[5:9] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [24]:
arr = np.ones((4,4),dtype='int')
arr[1:3,1:3] = 0
arr

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [25]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1,1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [26]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0] = 64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [27]:
arr = np.arange(10).reshape(2,5)
sliced_arr = arr[0]
print(sliced_arr)
np.ndim(sliced_arr)

[0 1 2 3 4]

1

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [28]:
arr = np.arange(10).reshape(2,5)
arr[1][1]

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [29]:
arr = np.arange(10).reshape(2,5)
print(arr)
print('Way one: ', arr[:,2])
#or
print('Way two: ' , arr[:,3])

[[0 1 2 3 4]
 [5 6 7 8 9]]
Way one:  [2 7]
Way two:  [3 8]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [30]:
arr = np.random.rand(100).reshape(10,10)
print(arr)
print('Shape: ', np.shape(arr))
print('Max: ', np.max(arr))
print('Max: ', np.min(arr))

[[0.93203308 0.94766072 0.72640742 0.56289824 0.70448676 0.94798813
  0.7372342  0.87717943 0.07561135 0.60421057]
 [0.84309666 0.20278687 0.93026727 0.91391058 0.73381886 0.05918494
  0.61480816 0.19939698 0.7113361  0.5578667 ]
 [0.12813177 0.24798504 0.72154581 0.04240644 0.89591101 0.68414009
  0.33211948 0.60673437 0.8191623  0.91660476]
 [0.04603671 0.25094632 0.62450367 0.30317441 0.39066334 0.86718867
  0.0473728  0.31651692 0.72503199 0.3522874 ]
 [0.83838701 0.29086868 0.69585604 0.33191182 0.37680674 0.45607435
  0.08190109 0.23119848 0.43643541 0.13077495]
 [0.19716766 0.74372532 0.25264276 0.25105405 0.85589459 0.77731662
  0.3556118  0.14635366 0.2571112  0.27248361]
 [0.10503327 0.82271105 0.61415456 0.62902172 0.96158424 0.37998038
  0.97409873 0.67690931 0.04789549 0.2293431 ]
 [0.48894618 0.95494822 0.23041709 0.73350917 0.79417027 0.54963004
  0.27242499 0.25495026 0.43922681 0.11899036]
 [0.10382586 0.02060143 0.5497066  0.70783128 0.27969021 0.85055466
  0.33266495 0.98380829 0.18145661 0.38003961]
 [0.09601651 0.9381538  0.52080934 0.15709756 0.94741918 0.02816911
  0.78485111 0.79555613 0.48327251 0.34437932]]
Shape:  (10, 10)
Max:  0.9838082891193343
Max:  0.020601431395368852

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [31]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
a[a==b]

array([2, 2, 4, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [32]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a==b)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [33]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[names!='Will']

array([[-0.06955797, -1.46019371, -0.11023719, -0.60377402],
       [-1.77613698, -0.04114845,  2.51823282, -1.20516952],
       [-1.37177518,  0.97925081,  0.60866785, -0.8923696 ],
       [ 2.27059012,  1.60104984, -0.84714681, -0.07945055],
       [-1.38881316, -0.32733974,  0.32824509,  0.79092706]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [34]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[(names != 'Will') & (names != 'Joe')]

array([[-1.0670644 ,  0.20081289,  0.38817249, -1.13978383],
       [-0.24362651, -0.83596991, -1.07034728, -0.57316173]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [35]:
np.random.uniform(1,15,size=(5,3))

array([[ 4.32887583,  2.53353668,  6.49518257],
       [10.43728098,  8.2603466 ,  8.66383072],
       [ 4.43504628,  8.17950077,  5.85035696],
       [10.69839415,  3.19649423, 12.71415483],
       [12.87398975,  3.17980028,  7.30745045]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [37]:
arr = np.random.uniform(1,16,size=(2,2,4))
arr

array([[[ 3.29506998,  7.81842421, 13.09210862,  3.03997262],
        [ 3.99891521, 11.35040706,  9.05839863,  9.99339125]],

       [[15.2036207 ,  1.71502618,  4.75016656,  4.57262457],
        [10.06584743,  7.03900295,  9.72550652,  7.48871544]]])

33. Swap axes of the array you created in Question 32

In [39]:
np.swapaxes(arr,0,1)

array([[[ 3.29506998,  7.81842421, 13.09210862,  3.03997262],
        [15.2036207 ,  1.71502618,  4.75016656,  4.57262457]],

       [[ 3.99891521, 11.35040706,  9.05839863,  9.99339125],
        [10.06584743,  7.03900295,  9.72550652,  7.48871544]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [71]:
import math 
arr = np.arange(10)
new_arr = arr ** 0.5

for index,ele in enumerate(new_arr):
    if ele < 0.5:
        new_arr[index] = 0
        
new_arr

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [127]:
arr1 = np.random.rand(12)
print(arr1)
arr2 = np.random.rand(12)
print(arr2)

[0.11561358 0.79772973 0.03823139 0.10839415 0.29425008 0.32901851
 0.93855444 0.85831663 0.02962955 0.29076027 0.38888397 0.09248579]
[0.68881456 0.87232206 0.95597807 0.03140065 0.82823639 0.24949687
 0.24989024 0.13391205 0.79039957 0.40075659 0.05337484 0.44308159]

In [132]:
np.maximum(arr1,arr2)

array([0.68881456, 0.87232206, 0.95597807, 0.10839415, 0.82823639,
       0.32901851, 0.93855444, 0.85831663, 0.79039957, 0.40075659,
       0.38888397, 0.44308159])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [89]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
unique_names = np.sort(np.unique(names))
unique_names

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [125]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])

np.setdiff1d(a,b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [119]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print(sampleArray)
newColumn = np.array([[10,10,10]])

sampleArray[:,2] = newColumn
print('New Array: ')
print( sampleArray)

[[34 43 73]
 [82 22 12]
 [53 94 66]]
New Array:
[[34 43 10]
 [82 22 10]
 [53 94 10]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [109]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [111]:
arrr = np.random.rand(20).reshape((2,2,5))
np.cumsum(arr)

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)